@model List<CursoMVC.Models.TableViewModels.UserTableViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/User/Add")'" value="Nuevo" />
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Edad</th>
                <th></th>
            </tr>

            @foreach (var elemento in Model)
            {
                <tr>
                    <td>
                        @elemento.id
                    </td>
                    <td>
                        @elemento.Email
                    </td>
                    <td>
                        @elemento.Edad
                    </td>
                    <td>
                        <input type="button" onclick="jsDelete(@elemento.id)" value="Eliminar" class="btn btn-danger" />
                        <input type="button" onclick="document.location.href = '@Url.Content("~/User/Edit/"+@elemento.id)'" value="Editar" class="btn btn-default" />
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<script>
    function jsDelete(id) {
        if (confirm("Estas segurisisissisisimo de eliminarlo?")) {

        url = "@Url.Content("~/User/Delete")" + "/" + id

        $.post(url, function (data) {
            if (data == "1") {
                document.location.href = "@Url.Content("~/User/")"
            } else {
                alert("Ocurrio un error :(")
            }
        })
        }
    }
</script>

